#pdfcontentwrapper {
  $width: 1000px;
  $marginCalc: calc((100vw - 500px) / -3);

  margin-top: 2rem;
  padding: 16pt 16pt;
  border: solid 1px red;
  width: $width !important;
  // margin-left: -500px;
  margin-left: $marginCalc;
  margin-right: $marginCalc;
}

#pdfcontent {
  // transform: scale(.9);
  $small: 12.8px;
  $base: 16px;

  font-family: Helvetica !important;

  * {
    font-family: inherit;
  }

  #header {
    padding: 8px 8px 4px 8px;
    border: solid 3px black;
    justify-content: stretch;
    #logo {
      flex: 0 0 125px;
      img {
        width: 125px;
        height: 150px;
        object-fit: contain;
      }
    }

    #companyInformation {
      width: 40%;
      #companyName {
        font-size: $base * 1.2;
        font-weight: bold;
      }
      #cnpj {
        font-size: $base;
      }
      #telefone {
        margin: 8px 0;
        font-size: $base * 1.05;
        display: flex;
        align-items: center;
        gap: 6px;
        img {
          height: 16px;
          width: 16px;
        }
      }
      #address {
        font-size: $base;
        line-height: 1.25;
        white-space: pre-line;
      }
    }

    #sheetNumber {
      margin: auto;
      display: inline-flex;
      min-width: 125px;
      border: solid 3px;
      padding: 4px 8px;
      gap: 8px;
      align-items: baseline;
      justify-content: flex-start;
      font-weight: bold;
    }
  }

  #mainTitle {
    font-size: 21px;
    letter-spacing: 0.5px;
    text-align: center;
    border: solid 3px black;
    border-top: none; border-bottom-width: 2px;
  }

  #tripInformation {
    table {
      width: 100%;
      border: solid 3px black;
      border-top: none; border-bottom-width: 2px;
      td {
        padding: 4px 8px;
        border: solid 1px black;
        font-weight: bold;
        small {
          font-weight: normal;
        }
      }

      #arrow {
        width: 40px;
      }

      .vertical-text {
        padding: 0;
        font-size: $small / 1.5;
        font-weight: normal;
        width: 25px;
      }
    }
  }
  #passengersTable {
    td {
      text-align: center;
      font-weight: bold;
      font-size: $base * 1.05;
    }
    tr td:first-child, .headings td {
      font-size: $base * .9;
      font-weight: normal;
      text-align: center;
    }
  }

  #footerTable { 
    border-bottom-width: 3px;
    td {
      font-size: 0.95rem;
      text-align: center;
      font-weight: normal !important;
      &:nth-child(4) {
        width: 130px;
        text-align: right;
        border-right: solid 3px black;
      }
    }

    tr.empty td {
      height: 50px;
    }
  }

  table:not(#footerTable), #header, #mainTitle {
    width: calc(100% - 25px);
  }

  .usoOficial {
    background-color: #ddd;
    width: 130px;
  }

  small {
    color: #333;
    font-size: $small;

    &.smaller {
      font-size: $small * 0.7;
    }

    & + * {
      color: red;
    }
  }
}
